.product_images{
	float: left;
	width: 100%;
	margin: 10px 25%;
	padding: 30px; 
	background:#fff;
	box-shadow: 0 0 5px 2px #ccc;
}
.product_images img{
	max-width: 100%;
}
.product_images h1{
	font-size: 1.3em; 
	margin-bottom: 20px;
	font-weight: 500;
	text-align: center;
}