//@import "_reset";

.bg-gradient-clear{
	background: linear-gradient(87deg, #e0e0e0 0, white 100%) !important
}

.header {
	&.header-skew{
		clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), 0% 100%);
	}
	&.header-large-skew{
		padding-bottom: 500px!important;
		margin-bottom: -475px;
		clip-path: polygon(0 0, 100% 0, 100% calc(100% - 100px), 0% 100%);
	}

	&.tb-header-skew{
		clip-path: polygon(0 50px, 100% 0, 100% calc(100% - 50px), 0% 100%);
	}
	&.tb-header-large-skew{
		padding-bottom: 500px!important;
		margin-bottom: -475px;
		clip-path: polygon(0 50px, 100% 0, 100% calc(100% - 100px), 0% 100%);
	}
}

.custom-checkbox, .custom-radio{
	.custom-control-input:checked ~ .custom-control-label::before {
		border-color: var(--red);
		background-color: var(--red);
	}
}

.navbar-vertical .navbar-nav .nav-link.active[data-toggle]::before{
	content: unset;
}

.navbar-vertical .navbar-nav .nav-link.active:not([data-toggle])::before {
	border-left: 2px solid var(--red);
}

@media (min-width: 768px) {
	.navbar-vertical.navbar-expand-md .navbar-nav .nav-link.active::before[data-toggle] {
		content: unset;
	}
	.navbar-vertical.navbar-expand-md .navbar-nav .nav-link.active:not([data-toggle])::before {
		border-left: 2px solid var(--red);
	}
}

.navbar-nav{
	.nav-link{
		color: var(--gray);

		&.active{
			color: var(--red)!important;
		}
	}
	.nav-item{
		color: var(--gray);

		&.active{
			color: var(--red)!important;
		}

		&[data-indicator-count]{
			position: relative;

			&::before{
				content: attr(data-indicator-count);
				position: absolute;
				border-radius: 50px;
				min-width: 16px;
				line-height: 16px !important;
				font-size: 10px!important;
				text-align: center;
				font-weight: bold;
				background-color: var(--red);
				color: var(--white);
				top: calc(50% - 8px);
				right: 8px;
				padding: 0px 5px;
			}
		}
	}
}

form.filter{
	width: 100%;
	margin: 15px 0px;

	.btn{
		margin-top: 0px;
		margin-bottom: 1px;
	}

	&.grid {
		display: grid;
		place-content: stretch stretch;
		place-items:center stretch;

		&.grid-area-sector-pharmacy {
			grid-template-columns: repeat(3, 1fr) max-content;
			grid-template-areas: "area sector pharmacy buttons";
			grid-column-gap: 10px;
		}

		&.grid-name-email {
			grid-template-columns: repeat(2, 1fr) max-content;
			grid-template-areas: "nome email buttons";
			grid-column-gap: 10px;
		}

		&.grid-name-email-entity {
			grid-template-columns: repeat(3, 1fr) max-content;
			grid-template-areas: "nome email entity buttons";
			grid-column-gap: 10px;
		}

		&.grid-name-email-uf-city {
			grid-template-columns: repeat(2, 1fr) max-content;
			grid-template-areas: "nome email buttons"
			"state city buttons";
			grid-gap: 10px;
		}

		&.grid-uf-city {
			grid-template-columns: repeat(2, 1fr) max-content;
			grid-template-areas: "state city buttons";
			grid-gap: 10px;
		}

		&.grid-uf {
			grid-template-columns: 1fr max-content;
			grid-template-areas: "state buttons";
			grid-gap: 10px;
		}

		&.grid-title {
			grid-template-areas: "title title title title";
			grid-template-rows: repeat(2, 1fr);
		}
	}
}

.buttonBar{
	grid-area: buttons;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;

	&.flex-bottom{
		height:100%;
		align-items: flex-end;
	}
}

.fieldWrap{
	display: grid;
	grid-template-columns: min-content auto;
	grid-template-rows: max-content;
	grid-template-areas: "label field";
	place-content: stretch stretch;
	place-items:center stretch;

	&.name{
		grid-area: nome;
	}

	&.email {
		grid-area: email;
	}

	&.entity {
		grid-area: entity;
	}

	&.state{
		grid-area: state;
	}

	&.city{
		grid-area: city;
	}

	label{
		grid-area: label;
		margin: 0px 10px 0px 0px;
	}

	input, select{
		grid-area: field;
	}

	input{
		border-radius: 5px;
		border: 1px solid rgba(0,0,0,.15);
		//line-height: 175%;
		padding: 0px 5px;
	}
}

.content-grid{
	.griditem-form{
		grid-area: form;
	}

	.griditem-sheet{
		grid-area: sheet;
		align-self: start;
	}

	.grid-edit-pharmacy{
		display: grid;
		grid-template-rows: max-content;
		grid-template-columns: 7fr 3fr;
		grid-template-areas: "form sheet";
		grid-row-gap: 10px;
		grid-column-gap: 25px;
		place-content: stretch stretch;
		place-items: stretch stretch;
	}
}

.pharmacy-characteristic{
	color: var(--light);

	& + &{
		margin-left: 25px;
	}

	&.active{
		color: var(--red);
	}
}

.phone-btn{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: flex-end;

	a{
		cursor: pointer;
		color: var(--light);

		&:hover{
			color: var(--red);
		}
	}
}

.page-item{
	&.active{
		.page-link{
			border-color: var(--red);
			background-color: var(--red);
			color: var(--white);
		}
	}
}

.flex-col{
	display: flex;
	flex-flow: column nowrap;
}

.bg-gradient-oryellow{
	background: linear-gradient(87deg, rgba(255,188,0,1) 0%, rgba(255,226,0,1) 100%);
}
